$white: white;
$dirty-white: #e9edec;

$light-gray: #b7b8bf;
$gray: gray;

$list-border: rgba(134, 150, 160, 0.15);

$background-dark: #111b21;
$background-lighter: #202c33;
$background-lightest: #222e35;
