@import "~scss/base/form.scss";
@import "~scss/base/layouts.scss";

.align-center {
  text-align: center;
}
.d-inline-block {
  display: inline-block;
}
.clickable {
  cursor: pointer;
}

.ml-2 {
  margin-left: 8px;
}

.ReactModal__Content {
  width: 400px;
}
