@import "~scss/base/_color.scss";
@import "~scss/base/_variables.scss";

.left-panel {
  flex-basis: 50px;
  border-right: 1px solid black;

  background-color: $background-lighter;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    cursor: pointer;
    height: $icon-height-l;
    width: $icon-width-l;
    color: $light-gray;
    margin: 12px;
  }
}
