@import "~scss/base/_color.scss";

.chatbox {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .top-panel {
    background-color: $background-lighter;
    height: 55px;
    flex-shrink: 0;
  }


}
